.p_b_8 {
  padding-bottom: var(--px8) !important;
}
.p_b_10 {
  padding-bottom: var(--px10) !important;
}
.p_b_11 {
  padding-bottom: var(--px11) !important;
}
.p_b_12 {
  padding-bottom: var(--px12) !important;
}
